# Dependencies
node_modules/

# Local env files
.env
.env.local
.env.*.local

# IDE / Editor configuration
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Log files
*.log
logs/
